#!/usr/bin/env xdg-open
[Desktop Entry]
Name= Piggie Demo
Comment= Whistling Pig Demo 
Exec= /home/johndoe/Desktop/pig.sh
Icon= /home/johndoe/Downloads/whistle_pig_Logo-1484690413.png
Type=Application
Terminal=false
StartupNotify=true
